#
## PFS Adjuster 2025-09-22 14:39:28
#
[mysqld]
performance_schema_instrument = '%=OFF'
performance_schema_instrument = 'idle=ON'
performance_schema_instrument = 'memory/performance_schema/accounts=ON'
performance_schema_instrument = 'memory/performance_schema/cond_class=ON'
performance_schema_instrument = 'memory/performance_schema/cond_instances=ON'
performance_schema_instrument = 'memory/performance_schema/events_stages_history=ON'
performance_schema_instrument = 'memory/performance_schema/events_stages_history_long=ON'
performance_schema_instrument = 'memory/performance_schema/events_stages_summary_by_account_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/events_stages_summary_by_host_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/events_stages_summary_by_thread_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/events_stages_summary_by_user_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/events_stages_summary_global_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/events_statements_current.sqltext=ON'
performance_schema_instrument = 'memory/performance_schema/events_statements_current.tokens=ON'
performance_schema_instrument = 'memory/performance_schema/events_statements_current=ON'
performance_schema_instrument = 'memory/performance_schema/events_statements_history.sqltext=ON'
performance_schema_instrument = 'memory/performance_schema/events_statements_history.tokens=ON'
performance_schema_instrument = 'memory/performance_schema/events_statements_history=ON'
performance_schema_instrument = 'memory/performance_schema/events_statements_history_long.sqltext=ON'
performance_schema_instrument = 'memory/performance_schema/events_statements_history_long.tokens=ON'
performance_schema_instrument = 'memory/performance_schema/events_statements_history_long=ON'
performance_schema_instrument = 'memory/performance_schema/events_statements_summary_by_account_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/events_statements_summary_by_digest.tokens=ON'
performance_schema_instrument = 'memory/performance_schema/events_statements_summary_by_digest=ON'
performance_schema_instrument = 'memory/performance_schema/events_statements_summary_by_host_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/events_statements_summary_by_program=ON'
performance_schema_instrument = 'memory/performance_schema/events_statements_summary_by_thread_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/events_statements_summary_by_user_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/events_statements_summary_global_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/events_transactions_history=ON'
performance_schema_instrument = 'memory/performance_schema/events_transactions_history_long=ON'
performance_schema_instrument = 'memory/performance_schema/events_transactions_summary_by_account_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/events_transactions_summary_by_host_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/events_transactions_summary_by_thread_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/events_transactions_summary_by_user_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/events_waits_history=ON'
performance_schema_instrument = 'memory/performance_schema/events_waits_history_long=ON'
performance_schema_instrument = 'memory/performance_schema/events_waits_summary_by_account_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/events_waits_summary_by_host_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/events_waits_summary_by_thread_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/events_waits_summary_by_user_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/file_class=ON'
performance_schema_instrument = 'memory/performance_schema/file_handle=ON'
performance_schema_instrument = 'memory/performance_schema/file_instances=ON'
performance_schema_instrument = 'memory/performance_schema/hosts=ON'
performance_schema_instrument = 'memory/performance_schema/memory_class=ON'
performance_schema_instrument = 'memory/performance_schema/memory_summary_by_account_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/memory_summary_by_host_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/memory_summary_by_thread_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/memory_summary_by_user_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/memory_summary_global_by_event_name=ON'
performance_schema_instrument = 'memory/performance_schema/metadata_locks=ON'
performance_schema_instrument = 'memory/performance_schema/mutex_class=ON'
performance_schema_instrument = 'memory/performance_schema/mutex_instances=ON'
performance_schema_instrument = 'memory/performance_schema/prepared_statements_instances=ON'
performance_schema_instrument = 'memory/performance_schema/rwlock_class=ON'
performance_schema_instrument = 'memory/performance_schema/rwlock_instances=ON'
performance_schema_instrument = 'memory/performance_schema/scalable_buffer=ON'
performance_schema_instrument = 'memory/performance_schema/session_connect_attrs=ON'
performance_schema_instrument = 'memory/performance_schema/setup_actors=ON'
performance_schema_instrument = 'memory/performance_schema/setup_objects=ON'
performance_schema_instrument = 'memory/performance_schema/socket_class=ON'
performance_schema_instrument = 'memory/performance_schema/socket_instances=ON'
performance_schema_instrument = 'memory/performance_schema/stage_class=ON'
performance_schema_instrument = 'memory/performance_schema/statement_class=ON'
performance_schema_instrument = 'memory/performance_schema/table_handles=ON'
performance_schema_instrument = 'memory/performance_schema/table_io_waits_summary_by_index_usage=ON'
performance_schema_instrument = 'memory/performance_schema/table_lock_waits_summary_by_table=ON'
performance_schema_instrument = 'memory/performance_schema/table_shares=ON'
performance_schema_instrument = 'memory/performance_schema/thread_class=ON'
performance_schema_instrument = 'memory/performance_schema/threads=ON'
performance_schema_instrument = 'memory/performance_schema/users=ON'
performance_schema_instrument = 'stage/innodb/alter table (end)=ON'
performance_schema_instrument = 'stage/innodb/alter table (flush)=ON'
performance_schema_instrument = 'stage/innodb/alter table (insert)=ON'
performance_schema_instrument = 'stage/innodb/alter table (log apply index)=ON'
performance_schema_instrument = 'stage/innodb/alter table (log apply table)=ON'
performance_schema_instrument = 'stage/innodb/alter table (merge sort)=ON'
performance_schema_instrument = 'stage/innodb/alter table (read PK and internal sort)=ON'
performance_schema_instrument = 'stage/innodb/buffer pool load=ON'
performance_schema_instrument = 'stage/sql/copy to tmp table=ON'
performance_schema_instrument = 'statement/abstract/Query=ON'
performance_schema_instrument = 'statement/abstract/new_packet=ON'
performance_schema_instrument = 'statement/abstract/relay_log=ON'
performance_schema_instrument = 'statement/com/Binlog Dump GTID=ON'
performance_schema_instrument = 'statement/com/Binlog Dump=ON'
performance_schema_instrument = 'statement/com/Change user=ON'
performance_schema_instrument = 'statement/com/Close stmt=ON'
performance_schema_instrument = 'statement/com/Connect Out=ON'
performance_schema_instrument = 'statement/com/Connect=ON'
performance_schema_instrument = 'statement/com/Create DB=ON'
performance_schema_instrument = 'statement/com/Daemon=ON'
performance_schema_instrument = 'statement/com/Debug=ON'
performance_schema_instrument = 'statement/com/Delayed insert=ON'
performance_schema_instrument = 'statement/com/Drop DB=ON'
performance_schema_instrument = 'statement/com/Error=ON'
performance_schema_instrument = 'statement/com/Execute=ON'
performance_schema_instrument = 'statement/com/Fetch=ON'
performance_schema_instrument = 'statement/com/Field List=ON'
performance_schema_instrument = 'statement/com/Kill=ON'
performance_schema_instrument = 'statement/com/Long Data=ON'
performance_schema_instrument = 'statement/com/Prepare=ON'
performance_schema_instrument = 'statement/com/Processlist=ON'
performance_schema_instrument = 'statement/com/Quit=ON'
performance_schema_instrument = 'statement/com/Refresh=ON'
performance_schema_instrument = 'statement/com/Register Slave=ON'
performance_schema_instrument = 'statement/com/Reset Connection=ON'
performance_schema_instrument = 'statement/com/Reset stmt=ON'
performance_schema_instrument = 'statement/com/Set option=ON'
performance_schema_instrument = 'statement/com/Shutdown=ON'
performance_schema_instrument = 'statement/com/Sleep=ON'
performance_schema_instrument = 'statement/com/Statistics=ON'
performance_schema_instrument = 'statement/com/Table Dump=ON'
performance_schema_instrument = 'statement/com/Time=ON'
performance_schema_instrument = 'statement/scheduler/event=ON'
performance_schema_instrument = 'statement/sp/stmt=ON'
performance_schema_instrument = 'statement/sql/alter_db=ON'
performance_schema_instrument = 'statement/sql/alter_db_upgrade=ON'
performance_schema_instrument = 'statement/sql/alter_event=ON'
performance_schema_instrument = 'statement/sql/alter_function=ON'
performance_schema_instrument = 'statement/sql/alter_instance=ON'
performance_schema_instrument = 'statement/sql/alter_procedure=ON'
performance_schema_instrument = 'statement/sql/alter_server=ON'
performance_schema_instrument = 'statement/sql/alter_table=ON'
performance_schema_instrument = 'statement/sql/alter_tablespace=ON'
performance_schema_instrument = 'statement/sql/alter_user=ON'
performance_schema_instrument = 'statement/sql/analyze=ON'
performance_schema_instrument = 'statement/sql/assign_to_keycache=ON'
performance_schema_instrument = 'statement/sql/begin=ON'
performance_schema_instrument = 'statement/sql/binlog=ON'
performance_schema_instrument = 'statement/sql/call_procedure=ON'
performance_schema_instrument = 'statement/sql/change_db=ON'
performance_schema_instrument = 'statement/sql/change_master=ON'
performance_schema_instrument = 'statement/sql/change_repl_filter=ON'
performance_schema_instrument = 'statement/sql/check=ON'
performance_schema_instrument = 'statement/sql/checksum=ON'
performance_schema_instrument = 'statement/sql/commit=ON'
performance_schema_instrument = 'statement/sql/create_compression_dictionary=ON'
performance_schema_instrument = 'statement/sql/create_db=ON'
performance_schema_instrument = 'statement/sql/create_event=ON'
performance_schema_instrument = 'statement/sql/create_function=ON'
performance_schema_instrument = 'statement/sql/create_index=ON'
performance_schema_instrument = 'statement/sql/create_procedure=ON'
performance_schema_instrument = 'statement/sql/create_server=ON'
performance_schema_instrument = 'statement/sql/create_table=ON'
performance_schema_instrument = 'statement/sql/create_trigger=ON'
performance_schema_instrument = 'statement/sql/create_udf=ON'
performance_schema_instrument = 'statement/sql/create_user=ON'
performance_schema_instrument = 'statement/sql/create_view=ON'
performance_schema_instrument = 'statement/sql/dealloc_sql=ON'
performance_schema_instrument = 'statement/sql/delete=ON'
performance_schema_instrument = 'statement/sql/delete_multi=ON'
performance_schema_instrument = 'statement/sql/do=ON'
performance_schema_instrument = 'statement/sql/drop_compression_dictionary=ON'
performance_schema_instrument = 'statement/sql/drop_db=ON'
performance_schema_instrument = 'statement/sql/drop_event=ON'
performance_schema_instrument = 'statement/sql/drop_function=ON'
performance_schema_instrument = 'statement/sql/drop_index=ON'
performance_schema_instrument = 'statement/sql/drop_procedure=ON'
performance_schema_instrument = 'statement/sql/drop_server=ON'
performance_schema_instrument = 'statement/sql/drop_table=ON'
performance_schema_instrument = 'statement/sql/drop_trigger=ON'
performance_schema_instrument = 'statement/sql/drop_user=ON'
performance_schema_instrument = 'statement/sql/drop_view=ON'
performance_schema_instrument = 'statement/sql/empty_query=ON'
performance_schema_instrument = 'statement/sql/error=ON'
performance_schema_instrument = 'statement/sql/execute_sql=ON'
performance_schema_instrument = 'statement/sql/explain_other=ON'
performance_schema_instrument = 'statement/sql/flush=ON'
performance_schema_instrument = 'statement/sql/get_diagnostics=ON'
performance_schema_instrument = 'statement/sql/grant=ON'
performance_schema_instrument = 'statement/sql/group_replication_start=ON'
performance_schema_instrument = 'statement/sql/group_replication_stop=ON'
performance_schema_instrument = 'statement/sql/ha_close=ON'
performance_schema_instrument = 'statement/sql/ha_open=ON'
performance_schema_instrument = 'statement/sql/ha_read=ON'
performance_schema_instrument = 'statement/sql/help=ON'
performance_schema_instrument = 'statement/sql/insert=ON'
performance_schema_instrument = 'statement/sql/insert_select=ON'
performance_schema_instrument = 'statement/sql/install_plugin=ON'
performance_schema_instrument = 'statement/sql/kill=ON'
performance_schema_instrument = 'statement/sql/load=ON'
performance_schema_instrument = 'statement/sql/lock_binlog_for_backup=ON'
performance_schema_instrument = 'statement/sql/lock_tables=ON'
performance_schema_instrument = 'statement/sql/lock_tables_for_backup=ON'
performance_schema_instrument = 'statement/sql/optimize=ON'
performance_schema_instrument = 'statement/sql/preload_keys=ON'
performance_schema_instrument = 'statement/sql/prepare_sql=ON'
performance_schema_instrument = 'statement/sql/purge=ON'
performance_schema_instrument = 'statement/sql/purge_before_date=ON'
performance_schema_instrument = 'statement/sql/release_savepoint=ON'
performance_schema_instrument = 'statement/sql/rename_table=ON'
performance_schema_instrument = 'statement/sql/rename_user=ON'
performance_schema_instrument = 'statement/sql/repair=ON'
performance_schema_instrument = 'statement/sql/replace=ON'
performance_schema_instrument = 'statement/sql/replace_select=ON'
performance_schema_instrument = 'statement/sql/reset=ON'
performance_schema_instrument = 'statement/sql/resignal=ON'
performance_schema_instrument = 'statement/sql/revoke=ON'
performance_schema_instrument = 'statement/sql/revoke_all=ON'
performance_schema_instrument = 'statement/sql/rollback=ON'
performance_schema_instrument = 'statement/sql/rollback_to_savepoint=ON'
performance_schema_instrument = 'statement/sql/savepoint=ON'
performance_schema_instrument = 'statement/sql/select=ON'
performance_schema_instrument = 'statement/sql/shutdown=ON'
performance_schema_instrument = 'statement/sql/signal=ON'
performance_schema_instrument = 'statement/sql/slave_start=ON'
performance_schema_instrument = 'statement/sql/slave_stop=ON'
performance_schema_instrument = 'statement/sql/truncate=ON'
performance_schema_instrument = 'statement/sql/uninstall_plugin=ON'
performance_schema_instrument = 'statement/sql/unlock_binlog=ON'
performance_schema_instrument = 'statement/sql/unlock_tables=ON'
performance_schema_instrument = 'statement/sql/update=ON'
performance_schema_instrument = 'statement/sql/update_multi=ON'
performance_schema_instrument = 'statement/sql/xa_commit=ON'
performance_schema_instrument = 'statement/sql/xa_end=ON'
performance_schema_instrument = 'statement/sql/xa_prepare=ON'
performance_schema_instrument = 'statement/sql/xa_recover=ON'
performance_schema_instrument = 'statement/sql/xa_rollback=ON'
performance_schema_instrument = 'statement/sql/xa_start=ON'
performance_schema_instrument = 'transaction=ON'
performance_schema_instrument = 'wait/io/file/archive/FRM=ON'
performance_schema_instrument = 'wait/io/file/archive/data=ON'
performance_schema_instrument = 'wait/io/file/archive/metadata=ON'
performance_schema_instrument = 'wait/io/file/csv/data=ON'
performance_schema_instrument = 'wait/io/file/csv/metadata=ON'
performance_schema_instrument = 'wait/io/file/csv/update=ON'
performance_schema_instrument = 'wait/io/file/innodb/innodb_bmp_file=ON'
performance_schema_instrument = 'wait/io/file/innodb/innodb_data_file=ON'
performance_schema_instrument = 'wait/io/file/innodb/innodb_log_file=ON'
performance_schema_instrument = 'wait/io/file/innodb/innodb_parallel_dblwrite_file=ON'
performance_schema_instrument = 'wait/io/file/innodb/innodb_temp_file=ON'
performance_schema_instrument = 'wait/io/file/myisam/data_tmp=ON'
performance_schema_instrument = 'wait/io/file/myisam/dfile=ON'
performance_schema_instrument = 'wait/io/file/myisam/kfile=ON'
performance_schema_instrument = 'wait/io/file/myisam/log=ON'
performance_schema_instrument = 'wait/io/file/myisammrg/MRG=ON'
performance_schema_instrument = 'wait/io/file/mysys/charset=ON'
performance_schema_instrument = 'wait/io/file/mysys/cnf=ON'
performance_schema_instrument = 'wait/io/file/mysys/proc_meminfo=ON'
performance_schema_instrument = 'wait/io/file/partition/ha_partition::parfile=ON'
performance_schema_instrument = 'wait/io/file/sql/ERRMSG=ON'
performance_schema_instrument = 'wait/io/file/sql/FRM=ON'
performance_schema_instrument = 'wait/io/file/sql/LOAD_FILE=ON'
performance_schema_instrument = 'wait/io/file/sql/binlog=ON'
performance_schema_instrument = 'wait/io/file/sql/binlog_cache=ON'
performance_schema_instrument = 'wait/io/file/sql/binlog_index=ON'
performance_schema_instrument = 'wait/io/file/sql/binlog_index_cache=ON'
performance_schema_instrument = 'wait/io/file/sql/casetest=ON'
performance_schema_instrument = 'wait/io/file/sql/dbopt=ON'
performance_schema_instrument = 'wait/io/file/sql/des_key_file=ON'
performance_schema_instrument = 'wait/io/file/sql/file_parser=ON'
performance_schema_instrument = 'wait/io/file/sql/global_ddl_log=ON'
performance_schema_instrument = 'wait/io/file/sql/init=ON'
performance_schema_instrument = 'wait/io/file/sql/io_cache=ON'
performance_schema_instrument = 'wait/io/file/sql/load=ON'
performance_schema_instrument = 'wait/io/file/sql/log_event_data=ON'
performance_schema_instrument = 'wait/io/file/sql/log_event_info=ON'
performance_schema_instrument = 'wait/io/file/sql/map=ON'
performance_schema_instrument = 'wait/io/file/sql/master_info=ON'
performance_schema_instrument = 'wait/io/file/sql/misc=ON'
performance_schema_instrument = 'wait/io/file/sql/partition_ddl_log=ON'
performance_schema_instrument = 'wait/io/file/sql/pid=ON'
performance_schema_instrument = 'wait/io/file/sql/query_log=ON'
performance_schema_instrument = 'wait/io/file/sql/relay_log_info=ON'
performance_schema_instrument = 'wait/io/file/sql/relaylog=ON'
performance_schema_instrument = 'wait/io/file/sql/relaylog_cache=ON'
performance_schema_instrument = 'wait/io/file/sql/relaylog_index=ON'
performance_schema_instrument = 'wait/io/file/sql/relaylog_index_cache=ON'
performance_schema_instrument = 'wait/io/file/sql/select_to_file=ON'
performance_schema_instrument = 'wait/io/file/sql/send_file=ON'
performance_schema_instrument = 'wait/io/file/sql/slow_log=ON'
performance_schema_instrument = 'wait/io/file/sql/tclog=ON'
performance_schema_instrument = 'wait/io/file/sql/trigger=ON'
performance_schema_instrument = 'wait/io/file/sql/trigger_name=ON'
performance_schema_instrument = 'wait/io/table/sql/handler=ON'
performance_schema_instrument = 'wait/lock/metadata/sql/mdl=ON'
performance_schema_instrument = 'wait/lock/table/sql/handler=ON'
